* {
    margin: auto;
    font-family: Roboto;
}


.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 900;
    size: 48px;
    padding: 1%;
    
}

.head-links {
    display: flex;
    color: #E5E7EB;
    size: 18px;
    gap: 50px;
}

.button {
    display: flex;
    background-color: #003fbe;
    color: #ffffff;
    font-weight: 900;
    font-size: medium;
    padding: 6px;
    border-color: #E5E7EB;
    border-radius: 4px;
    border-style: groove;
    transition: transform .3s ease-in-out;
    position: absolute;
    margin: 2%;
    box-shadow:-3px 5px rgba(0, 0, 0, 0.2);
}   

.button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.main {
    display: block;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 10%;
    flex-direction: column;
    text-align-last: left;
    
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    color: #F9FAF8;
}
