* {
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 900;
    size: 48px;
    padding: 1%;
}

.head-links {
    display: flex;
    color: #E5E7EB;
    size: 18px;
    gap: 50px;
}




.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    color: #F9FAF8;
}
